.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn:hover {
  background-color: var(--color-secondary-medium);
  border-color: var(--color-secondary-medium);
}

.btn-ghost {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.btn-ghost:hover {
  color: var(--color-primary);
}
