<ul class="skip-links">
  <li><a href="#nav">Jump to navigation</a></li>
  <li><a href="#main">Jump to main content</a></li>
  <li><a href="#contentinfo">Jump to footer</a></li>
</ul>
<header role="banner">
  <div class="relative">
    <div class="cart">
      <a href="/checkout/candle-pink-rose/" class="text-upper text-center push-0 normal pad-t-1-2 pad-b-1-2">
        <i class="icon i-48">
          <svg class="img-flex"><use xlink:href="/images/icons.svg#cart"></use></svg>
        </i>
        <p class="text-upper push-0">cart</p>
      </a>
    </div>
    <div class="grid grid-middle pad-t-1-2 backround-image">
      <div class="unit xs-1-4">
      </div>
      <div class="unit xs-1-2 s-1-2 m-1-2 l-1-2 logo">
        <a href="index.html" class="current"><img class="gutter-1-2 text-upper img-flex" src="/images/logo.svg" alt="close navigation"></a>
      </div>
      <nav class="navigate unit xs-1 xl-1 text-center pad-t-1-4 pad-b-1-4 background-black" role="nav" id="nav" tabindex="0">
        <ul class="grid list-group push-1-4 gutter-2">
          <li class="unit xs-1 s-1 m-1-4 pad-t-1-4 bad-b-1-4 {% if page.highlight_nav == 'home' %}current{% endif %}"><a href="/index/" class="text-upper push gutter-1-2">home</a></li>
          <li class="unit xs-1 s-1 m-1-4 pad-t-1-4 bad-b-1-4 {% if page.highlight_nav == 'products' %}current{% endif %}"><a href="/products/" class="text-upper push gutter-1-2">products</a></li>
          <li class="unit xs-1 s-1 m-1-4 pad-t-1-4 bad-b-1-4 {% if page.highlight_nav == 'checkout' %}current{% endif %}"><a href="/checkout/candle-pink-rose/" class="text-upper push gutter-1-2">checkout</a></li>
          <li class="unit xs-1 s-1 m-1-4 pad-t-1-4 bad-b-1-4 {% if page.highlight_nav == 'about' %}current{% endif %}"><a href="#" class="text-upper push gutter-1-2">about us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
