.section-header {
  border-bottom: solid 3px var(--color-secondary-light);
}
.section-header-h2 {
  color: var(--color-secondary-light);
}

.process-header-h2 {
  color: var(--color-secondary-medium);
}

.address-header-h2 {
  color: #fff;
}

.billing-address {
  background-color: var(--color-secondary-medium);
}

.shipping-address {
  background-color: var(--color-primary);
}

.process-section {
  max-width: 510px;
  margin: auto;
}

.process-section-text {
  display: none;
}

.process-section li:hover .process-section-text {
  display: block;
}

.process-section li:hover .process-section-image {
  display: none;
}

.product-details-image {
  border: solid 3px var(--color-secondary-light);
  background-color: #fff;
}

a {
  --color-products: var(--color-primary);
}

a:hover {
  --color-products: var(--color-secondary-medium);
}

a:hover h2{
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}
