.sale-card {
  background-color: #fff;
  border: 3px solid var(--color-secondary-light);
  transition: all 200ms linear;
}
.border-top {
  border-top: 3px solid var(--color-secondary-light);
  margin: 0;
  color: var(--color-secondary-medium);
}

.sale-card-sticker {
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  width: 4em;
  left: 2em;
}

.add-btn {
  position: absolute;
  width: 5em;
  right: -15px;
  top: 1em;
}

.sale-card:hover {
  transform: translate(0, -3px);
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, .5));
}

@media only screen and (min-width: 60em) {

  .sale-card {
    margin: 0;
  }

}

@keyframes wiggle {

  start {
    transform: translateX(-2em);
  }

  end {
    transform: translateX(-4em);
  }

}
