---
layout: default
highlight_nav: index
---

<div class="gutter" role="main">
  {% pattern sections/section-header heading="Review Your Order" %}
  <div class="gutter">
    {% pattern cards/checkout-product-card data=page %}
  </div>
  <div class="island-1-2">
    <div class="island-1-2">
      {% pattern sections/billing-section %}
    </div>
    <div class="island-1-2">
      {% pattern sections/shipping-section %}
    </div>
    <div class="island-1-2">
      {% pattern sections/check-out-section %}
    </div>
  </div>
</div>
